# MarriedAPI
 
bin/
obj/
*.user
*.suo
*.tmp
*.log
*.cache


*.sln
*.csproj.user
*.vshost.exe
.vs/
!.vs/.suo # Если нужно отслеживать .suo файл
*.mdf
*.ldf

appsettings.Development.json
*.secrets
/Properties/launchSettings.json

test-results/
packages/